<html>
 <head>
 <link rel="stylesheet" href="{{site.baseurl}}/assets/css/about_jl.css" type="text/css" />
 </head>
 <body>
  <div class="col s12 tag-div"> 
   <div class="user-pic center-align"> 
    <a href="{{site.github_profile}}" target="_blank"> <img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png" /> </a> 
   </div> 
   <div class="user-intro center-align"> 
    <h4 class="hidden">曾经 <span id="js-rotating">乌合之众, 柳大刀</span> 也是我!</h4> 
   </div> 
   <!-- https://www.cnblogs.com/lucklyphp/p/10529376.html --> 
   <div class="user-content"> 
    <div xmlns="" class="page"> 
     <div class="all_wrap"> 
      <table class="resume_box"> 
       <tbody> 
        <tr> 
         <td class="infomation_l2"> 
          <div class="top"> 
           <p class="picture"> <img src="{{site.baseurl}}/assets/res/dingding.jpg" alt="简历照片" width="290" height="420" /> </p> 
           <p class="name">柳大刀</p> 
           <p class="posi"><a class="yellow">天行健君子以自强不息</a> </p> 
          </div> 
          <table class="border_b2"> 
           <tbody> 
            <tr class="title"> 
             <td class="title_iconl" valign="middle"> <img src="{{site.baseurl}}/assets/res/icon7_type1.png" width="12" height="13" /> </td> 
             <td class="wid"><span>个人信息</span> </td> 
            </tr> 
           </tbody> 
          </table> 
          <div class="mes_boxl"> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td><span>性别：</span> </td> 
              <td><span class="y_green">男</span> </td> 
             </tr> 
             <tr class="per_list"> 
              <td><span>年龄：</span> </td> 
              <td><span class="y_green">27</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>籍贯：</span> </td> 
              <td class="limit1"><span class="y_green">湖南</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>电话：</span> </td> 
              <td class="limit2"><span class="y_green">185-****-****</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>现居地：</span> </td> 
              <td class="limit2"><span class="y_green">北京</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>工作状态：</span> </td> 
              <td class="limit2"><span class="y_green">在职</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>工作年限：</span> </td> 
              <td class="limit2"><span class="y_green">5年</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>博客：</span> </td> 
              <td class="limit1"><span class="y_green">oloroso.cnblogs.com</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>github：</span> </td> 
              <td class="limit1"><span class="y_green">github.com/sotex</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td class="dir"><span>E-mail：</span> </td> 
              <td class="limit1"><span class="y_green">ymwh@foxmail.com</span> </td> 
             </tr> 
            </tbody> 
           </table> 
          </div> 
          <table class="border_b2"> 
           <tbody> 
            <tr class="title"> 
             <td class="title_iconl" valign="middle"> <img src="{{site.baseurl}}/assets/res/icon8_type1.png" width="12" height="13" /> </td> 
             <td class="wid"><span>技能</span> </td> 
            </tr> 
           </tbody> 
          </table> 
          <div class="mes_boxl"> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td><span>专业软件：</span> </td> 
              <td class="limit1"><span class="y_green">QGIS、ArcGIS、GDAL Tools、MySQL ...</span> </td> 
             </tr> 
             <tr class="per_list"> 
              <td class="dir"><span>编程语言：</span> </td> 
              <td class="limit1"><a class="y_green">C/C++、Go、AutoLisp、Python</a> </td> 
             </tr> 
             <tr class="per_list"> 
              <td class="dir"><span>擅长使用：</span> </td> 
              <td class="limit1"><a class="y_green">GDAL、Proj4、Qt、Boost、Poco、SQLite、Net-SNMP、LibVLC、Live555 ...</a> </td> 
             </tr> 
             <tr class="per_list"> 
              <td class="dir"><span>擅长：</span> </td> 
              <td class="limit1"><span class="y_green">做饭、卤肉、种地、查资料找答案解决问题 ...</span> </td> 
             </tr> 
            </tbody> 
           </table> 
          </div> 
          <table class="border_b2"> 
           <tbody> 
            <tr class="title"> 
             <td class="title_iconl" valign="middle"> <img src="{{site.baseurl}}/assets/res/icon2_type2.png" width="12" height="13" /> </td> 
             <td class="wid"><span>教育背景</span> </td> 
            </tr> 
           </tbody> 
          </table> 
          <div class="mes_boxl"> 
           <table class="mes_l"> 
            <tbody> 
             <tr class="per_list"> 
              <td><span>毕业院校：</span> </td> 
              <td class="limit1"><span class="y_green">龙岩学院</span> </td> 
             </tr> 
             <tr class="per_list"> 
              <td><span>学习专业：</span> </td> 
              <td class="limit1"><span class="y_green">测绘工程-本科</span> </td> 
             </tr> 
             <tr class="per_list"> 
              <td><span>学习时间：</span> </td> 
              <td class="limit1"><span class="y_green">2010.09-2014.06</span> </td> 
             </tr> 
            </tbody> 
           </table> 
          </div> </td> 
         <td class="infomation_r"> 
          
          <table class="per_title"> 
           <tbody> 
            <tr> 
             <td class="title_icon" valign="middle"> <img src="{{site.baseurl}}/assets/res/icon1_type2.png" alt="教育经历" width="17" height="16" /> </td> 
             <td width="340"> <p class="title_txt_b">自我介绍</p> </td> 
            </tr> 
           </tbody> 
          </table> 
          <div class="mes_r"> 
            <p class="in">柳大刀，湘东北人士。</p>
            <p class="in">少年时好电气机械，常与邻居兄弟交流学习，能修常用家电设备，后渐忘。至高中，学业繁重，唯有阅览室可读书看报以释重负，遂喜好计算机技术，至今。然大学，虑就业形势，学测绘，亦好。</p> 
          </div> 
          <table class="per_title"> 
           <tbody> 
            <tr> 
             <td class="title_icon" valign="middle"> <img src="{{site.baseurl}}/assets/res/icon3_type2.png" alt="个人经历" width="17" height="16" /> </td> 
             <td width="340"> <p class="title_txt_b">实习经历</p> </td> 
            </tr> 
           </tbody> 
          </table> 
          <div class="mes_r"> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td class="edu"><span>单位：</span> </td> 
              <td class="exp"><span class="gray">福建省国土测绘院</span> </td> 
              <td class="pofi"><span class="gray">2013/07-2014/04</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td><span>参与项目：</span> </td> 
             </tr> 
             <tr>
              <td> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">福建晋江数字城市项目</a> </p> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">福建漳州地籍数据数字化项目</a> </p> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">福建漳州矿山实地核查测量</a> </p> </td> 
              <!--注释:"text-indent:2em"能使文字空两个字符--> 
             </tr>
            </tbody> 
           </table> 
          </div> 
          <table class="per_title"> 
           <tbody> 
            <tr> 
             <td class="title_icon" valign="middle"> <img src="{{site.baseurl}}/assets/res/icon3_type2.png" alt="校园经历" width="17" height="16" /> </td> 
             <td width="340"> <p class="title_txt_b">工作经历</p> </td> 
            </tr> 
           </tbody> 
          </table> 
          <div class="mes_r"> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td class="edu"><span>单位：</span> </td> 
              <td class="exp"><span class="gray">北京和兴宏图科技有限公司</span> </td> 
              <td class="pofi"><span class="gray">2015/03--2015/12</span> </td> 
             </tr> 
             <tr class="info_list"> 
              <td class="edu"><span>职务：</span> </td> 
              <td class="exp"><span class="gray">软件开发工程师</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td><span>参与项目：</span> </td> 
             </tr> 
             <tr>
              <td> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">流媒体服务器开发项目</a> </p> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">1501项目</a> </p> </td> 
              <!--注释:"text-indent:2em"能使文字空两个字符--> 
             </tr>
            </tbody> 
           </table> 
           <!--table> 
            <tbody> 
             <tr class="info_list"> 
              <td class="edu"><span>奖项：</span> </td> 
              <td class="exp"><span class="gray"></span> </td> 
              <td class="pofi"><span class="gray">2015/09--2017/10</span> </td> 
             </tr> 
            </tbody> 
           </table--> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td><span>工作内容：</span> </td> 
             </tr> 
             <tr>
              <td> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">学习开源项目Live555</a> </p> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">公司内部流媒体服务器开发</a> </p> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">多平台设备SNMP服务开发</a> </p> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">运维系统SNMP采集模块开发</a> </p> </td> 
              <!--注释:"text-indent:2em"能使文字空两个字符--> 
             </tr>
            </tbody> 
           </table> 
          </div> 
           <div class="mes_r"> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td class="edu"><span>单位：</span> </td> 
              <td class="exp"><span class="gray">云游九州空间科技有限公司</span> </td> 
              <td class="pofi"><span class="gray">2015/12--至今</span> </td> 
             </tr> 
             <tr class="info_list"> 
              <td class="edu"><span>职务：</span> </td> 
              <td class="exp"><span class="gray">高级研发工程师</span> </td> 
             </tr> 
            </tbody> 
           </table> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td><span>参与项目：</span> </td> 
             </tr> 
             <tr>
              <td> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">待完善</a> </p>
                <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">待完善</a></p> </td> 
              <!--注释:"text-indent:2em"能使文字空两个字符--> 
             </tr>
            </tbody> 
           </table> 
           <!--table> 
            <tbody> 
             <tr class="info_list"> 
              <td class="edu"><span>奖项：</span> </td> 
              <td class="exp"><span class="gray"></span> </td> 
              <td class="pofi"><span class="gray">2015/09--2017/10</span> </td> 
             </tr> 
            </tbody> 
           </table--> 
           <table> 
            <tbody> 
             <tr class="info_list"> 
              <td><span>工作内容：</span> </td> 
             </tr> 
             <tr>
              <td> <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">云游九州底层基础库设计实现及维护</a> </p>
                <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">待完善</a> </p>
                <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">待完善</a> </p>
                <p style="text-indent:2em;font:400 12px Simsun;line-height:18px;"><a class="gray">待完善</a> </p> </td> 
              <!--注释:"text-indent:2em"能使文字空两个字符--> 
             </tr>
            </tbody> 
           </table> 
          </div> 
          <table class="per_title"> 
           <tbody> 
            <tr> 
             <td class="title_icon" valign="middle"> <img src="{{site.baseurl}}/assets/res/icon4_type2.png" alt="自我评价" width="17" height="16" /> </td> 
             <td width="340"> <p class="title_txt_b">自我评价</p> </td> 
            </tr> 
           </tbody> 
          </table> 
          <div class="mes_r"> 
           <p class="in">1.积极好学，善于利用网络资源解决问题。</p> 
           <p class="in">2.兴趣广泛，不偏激，相信科学，不迷信。</p> 
           <p class="in">3.喜好新技术新科技，不认命，愿意学习。</p> 
          </div> </td>
        </tr> 
       </tbody> 
      </table> 
     </div> 
    </div> 
   </div> 
  </div>
 </body>
</html>