<div class="col s12 tag-div">
  <div class="user-pic center-align">
    <a href="{{site.github_profile}}" target="_blank"><img class="circle hoverable z-depth-1" src="{{site.baseurl}}/assets/res/user.png"></a>
  </div>
  <div class="user-intro center-align">
    <h4 class="hidden">曾经 <span id="js-rotating">乌合之众, 柳大刀</span> 也是我!</h4>
  </div>
  <div class="user-content">
    <p>
      我有钓鱼竿，很便宜的那种，在小河沟钓鱼很开心。<br>
	  我曾经有过一辆山地自行车，毕业送给同学了，现在骑共享单车逛公园也很爽。<br>
	  我也玩网络游戏，斗地主那种，不过兴趣不大，送的欢乐豆输光就不玩了。<br>
	  还是比较喜欢和朋友一起玩《求生之路2》，这么多年了，还是很开心。<br>
	  更多的，我喜欢做饭。自己炒菜，自己炖汤，自己卤鸡爪猪肝大肠，一次一次尝试，一点一点进步。
    </p>
    <p>
      大学是学测绘的，本身也算不上学了多少东西，现在也都忘得差不多了。<br>
	  大学时期练出来的自学能力还是有用的，现在虽然很多东西不懂，沉下心了也能学一点。<br>
	  现在的工作主要还是做软件研发，虽然是地理信息这个大行业，但真的用到专业知识的地方也不多，也多是些概念性的东西。<br>
	  不过也挺好，编程做软件这件事本身还是挺开心的，总是有新挑战，有新需求，有新问题，费脑子，但不无聊。
    </p>
  </div>
</div>